/* by Jamal Hassouni*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
body{
  margin: 0;
  padding: 0;
 font-family: 'Roboto', sans-serif !important;
 background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
background-size: cover;
 

}
section{
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
          
}

#tab
{
  margin-left:-50px;

}
#C1{
  position: relative;
  max-width: 300px;
  height: auto;
  background: linear-gradient(-45deg,#42f4bc,#41f47c);
  border-radius: 20px;
  margin: 0 auto;
  padding: 40px 20px;
  -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
          box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
-webkit-transition: .5s;
transition: .5s;
}
#C2{
  position: relative;
  max-width: 300px;
  height: auto;
  background: linear-gradient(-45deg,#4b42f4,#fc41f1);
  border-radius: 20px;
  margin: 0 auto;
  padding: 40px 20px;
  -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
          box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
-webkit-transition: .5s;
transition: .5s;
}
#C3{
  position: relative;
  max-width: 300px;
  height: auto;
  background: linear-gradient(-45deg,#41f464,#41f479);    
  border-radius: 20px;
  margin: 0 auto;
  padding: 40px 20px;
  -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
          box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
-webkit-transition: .5s;
transition: .5s;
}
#C4{
  position: relative;
  max-width: 300px;
  height: auto;
  background: linear-gradient(-45deg,#f441a0,#f4419a);
  border-radius: 20px;
  margin: 0 auto;
  padding: 40px 20px;
  -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
          box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
-webkit-transition: .5s;
transition: .5s;
}
#C5{
  position: relative;
  max-width: 300px;
  height: auto;
  background: linear-gradient(-45deg,#f45e41,#feae3f);
  border-radius: 20px;
  margin: 0 auto;
  padding: 40px 20px;
  -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
          box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
-webkit-transition: .5s;
transition: .5s;
}
#C6{
  position: relative;
  max-width: 300px;
  height: auto;
  background: linear-gradient(-45deg,#c4f441,#acf441);
  border-radius: 20px;
  margin: 0 auto;
  padding: 40px 20px;
  -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
          box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
-webkit-transition: .5s;
transition: .5s;
}
#C7{
  position: relative;
  max-width: 300px;
  height: auto;
  background: linear-gradient(-45deg,#ca41f4,#9441f4);
  border-radius: 20px;
  margin: 0 auto;
  padding: 40px 20px;
  -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
          box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
-webkit-transition: .5s;
transition: .5s;
}
#C8{
  position: relative;
  max-width: 300px;
  height: auto;
  background: linear-gradient(-45deg,#f4417c,#f441bb);
  border-radius: 20px;
  margin: 0 auto;
  padding: 40px 20px;
  -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
          box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
-webkit-transition: .5s;
transition: .5s;
}
#C9{
  position: relative;
  max-width: 300px;
  height: auto;
  background: linear-gradient(-45deg,#b55e5e,#ea5d5d);
  border-radius: 20px;
  margin: 0 auto;
  padding: 40px 20px;
  -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
          box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
-webkit-transition: .5s;
transition: .5s;
}
#C10{
  position: relative;
  max-width: 300px;
  height: auto;
  background: linear-gradient(-45deg,#9b8f07,#d6c504);
  border-radius: 20px;
  margin: 0 auto;
  padding: 40px 20px;
  -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
          box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
-webkit-transition: .5s;
transition: .5s;
}
#C11{
  position: relative;
  max-width: 300px;
  height: auto;
  background: linear-gradient(-45deg,#c47d19,#ea951e);
  border-radius: 20px;
  margin: 0 auto;
  padding: 40px 20px;
  -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
          box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
-webkit-transition: .5s;
transition: .5s;
}
#C12{
  position: relative;
  max-width: 300px;
  height: auto;
  background: linear-gradient(-45deg,#484ca5,#5258d8);
  border-radius: 20px;
  margin: 0 auto;
  padding: 40px 20px;
  -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
          box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
-webkit-transition: .5s;
transition: .5s;
}
#C13{
  position: relative;
  max-width: 300px;
  height: auto;
  background: linear-gradient(-45deg,#066a99,#0693d6);
  border-radius: 20px;
  margin: 0 auto;
  padding: 40px 20px;
  -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
          box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
-webkit-transition: .5s;
transition: .5s;
}
#C14{
  position: relative;
  max-width: 300px;
  height: auto;
  background: linear-gradient(-45deg,#86d894,#82f295);
  border-radius: 20px;
  margin: 0 auto;
  padding: 40px 20px;
  -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
          box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
-webkit-transition: .5s;
transition: .5s;
}
#C15{
  position: relative;
  max-width: 300px;
  height: auto;
  background: linear-gradient(-45deg,#a09a49,#e5db52);
  border-radius: 20px;
  margin: 0 auto;
  padding: 40px 20px;
  -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
          box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
-webkit-transition: .5s;
transition: .5s;
}
#C16{
  position: relative;
  max-width: 300px;
  height: auto;
  background: linear-gradient(-45deg,#6fb74b,#6c9b55);
  border-radius: 20px;
  margin: 0 auto;
  padding: 40px 20px;
  -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
          box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
-webkit-transition: .5s;
transition: .5s;
}
#C17{
  position: relative;
  max-width: 300px;
  height: auto;
  background: linear-gradient(-45deg,#bf4c74,#9b4c67);
  border-radius: 20px;
  margin: 0 auto;
  padding: 40px 20px;
  -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
          box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
-webkit-transition: .5s;
transition: .5s;
}
#C18{
  position: relative;
  max-width: 300px;
  height: auto;
  background: linear-gradient(-45deg,#9d73c4,#d5b5f2);
  border-radius: 20px;
  margin: 0 auto;
  padding: 40px 20px;
  -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
          box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
-webkit-transition: .5s;
transition: .5s;
}
#C19{
  position: relative;
  max-width: 300px;
  height: auto;
  background: linear-gradient(-45deg,#9eedb7,#1cef5f);
  border-radius: 20px;
  margin: 0 auto;
  padding: 40px 20px;
  -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
          box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
-webkit-transition: .5s;
transition: .5s;
}
#C20{
  position: relative;
  max-width: 300px;
  height: auto;
  background: linear-gradient(-45deg,#3a3803,#c1bb09);
  border-radius: 20px;
  margin: 0 auto;
  padding: 40px 20px;
  -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
          box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
-webkit-transition: .5s;
transition: .5s;
}
.card:hover{
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}


.title .fa{
  color:#fff;
  font-size: 60px;
  width: 100px;
  height: 40px;
  border-radius:  50%;
  text-align: center;
  
  -webkit-box-shadow: 0 10px 10px rgba(0,0,0,.1) ;
          box-shadow: 0 10px 10px rgba(0,0,0,.1) ;


}
.title h2 {
  position: relative;
  margin: 20px  0 0;
  padding-bottom: 5px;
  color: #fff;
  font-size: 15px;
 z-index: 2;
}

.card a {
  position: relative;
  z-index: 2;
  background: #fff;
  color : black;

  height: 40px;
  line-height: 40px;
  border-radius: 40px;
  display: block;
  text-align: center;

  font-size: 16px;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, .1);

}

#A{
  padding-bottom: 20px;
}
#heading {
  text-align: center;
}

#test {
  text-align: center; 
}

#Head{
  font-size: 20px;
}

h1{
  padding-top: 10px;
  font-size: 40px;
  
}


.nav-link{
  font-size: 20px;
}

#ind{
  font-size: 40px;
  font-style: bold;
  padding-left: 500px;
}

#tab{
     float: right;
}
#lol{
  float: left;
}

#I{
  padding: 0px;
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
  font-family: Raleway;
}

#H{
  margin-left: 10px;
  margin-right: 10px;
}
#J:hover{
  
  transition: transform .2s;
    transform: scale(1.5);
}

/*#tab #lol{
  font-size: 100px
   display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
    height: 100%;*/
}
/*.ex, .ex2, .ex3 {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
    height: 100%;  /* no need of height: 200px; here */
} */   