<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title></title>
   <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <style>


.head, a{
  font-style: italic;
  font-weight: bold;
  font-family: "Times New Roman";
  text-decoration: none;
  
}

  </style>
</head>
<body>
  <div>
    <h1 class="head">Our Publications</h1>
  </div>
  <div class="container">
    <div class="row">
  
        <div >
          <a href="./abstract">Statistical Abstract</a>
        </div>
        <div >
          <a href="./handbook">State Statistical Handbook</a>
        </div>
        <div class="col-xs-12 shelf hidden-md hidden-lg"></div>
       
    </div>
</div> 

</body>
</html>

